/*
Theme Name: zboom music
Theme URI: http:// music.com
Author: shahin
Author URI:http:// shahin.com
Version:1.0
Description: this is music site html template
Tags: Music, song, simple template


*/
 .right-sidebar ul{
	 background:#1E1E1E;
	 margin-left:0;
	 padding-left:15px;
	 
 }